<nav class="navbar">
  <div class="navbar-left">
    <ul class="navbar-links">
      <li><a (click)="navigateTo('')">Home</a></li>
      <li><a (click)="navigateTo('')">Infrastructure</a></li>
      <li><a (click)="navigateTo('leaves')">Leaves</a></li>
      <li><a (click)="navigateTo('complaints')">Complaints</a></li>
      <li>
        <div class="dropdown">
          <button class="dropdown-btn">Profile</button>
          <div class="dropdown-content">
            <a href="#">View Profile</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
